[submodule "vim/bundle/kotlin-vim"]
	path = vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
